<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.born_2_code.brainnet1">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.born_2_code.brainnet1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.born_2_code.brainnet1.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.example.born_2_code.brainnet1.WelcomeActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.example.born_2_code.brainnet1.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <service android:name="com.example.born_2_code.brainnet1.IntentServiceConnectFog" ></service>
        <service android:name="com.example.born_2_code.brainnet1.IntentServiceSignOn" ></service>
    </application>

</manifest>